<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>로그인</h2>
    </div>
    <h4 class="mb-3">로그인 정보 입력</h4>

    <form action="/login" method="post">
        <div class="form-group row">
            <label for="inputId" class="col-sm-2 col-form-label"><strong>아이디</strong></label>
            <input id="inputId" class="form-control" type="text" name="userId"/>
<!--            <p class="error-class" th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}">Incorrect Data</p>-->
<!--            <button class="id_dup_check" onclick="duplication_check()" type="button"> 중복체크 </button>-->
        </div>
        <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label"><strong>비밀번호</strong></label>
            <input id="inputPassword" class="form-control" type="password" name="userPassword"/>
<!--            <p class="error-class" th:if="${#fields.hasErrors('userPassword')}" th:errors="*{userPassword}">Incorrect Data</p>-->
        </div>
        <div class="row">
            <div class="col-auto mr-auto"></div>
            <div class="col-auto">
                <input class="join-button" type="submit" role="button" value="로그인"/>
            </div>
        </div>
    </form>
</div> <!-- /container -->




</body>
</html>