<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>첫화면입니다</title>
</head>
<body>
<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>홈 화면</h2>
    </div>
    <div class="row">
        <div class="col">
            <button type="button" th:onclick="|location.href='@{/join}'|">
                회원 가입
            </button>
        </div>
<!--        <div class="col">-->
<!--            <button class="w-100 btn btn-dark btn-lg"-->
<!--                    onclick="location.href='items.html'"-->
<!--                    th:onclick="|location.href='@{/login}'|" type="button">-->
<!--                로그인-->
<!--            </button>-->
<!--        </div>-->
    </div>
</div> <!-- /container -->

</body>
</html>