<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>첫화면입니다</title>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>

    <script th:inline="javascript">
        var message = $('input[name=logout_alert]').val();
        //var message = [[${message}]];

        logout_btn = () => {}

    </script>
</head>
<body>

<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>홈 화면</h2>
    </div>
    <div class="row">
        <div class="col" th:block th:unless="${sessionUserId == null}">
            <p th:text ="${sessionUserName}+'('+${sessionUserId}+')  이 로그인중입니다.'"></p>
        </div><br>
        <div class="col" th:block th:if="${sessionUserId == null}">
            <button type="button" th:onclick="|location.href='@{/join}'|">
                회원 가입
            </button>
        </div><br>
        <div class="col" th:block th:if="${sessionUserId == null}">
<!--            <button class="w-100 btn btn-dark btn-lg"-->
<!--                    onclick="location.href='items.html'"-->
            <button type="button" th:onclick="|location.href='@{/login}'|">
                로그인
            </button>
        </div><br>
        <div class="col" th:block th:unless="${sessionUserId == null}">
            <!--            <button class="w-100 btn btn-dark btn-lg"-->
            <!--                    onclick="location.href='items.html'"-->
            <form action="/logout">
                <input type="submit" onclick="logout_btn()" value="로그아웃">
            </form>
            <input type="hidden" name="logout_alert" th:text="${message}">
        </div><br>
        <div class="col" th:block th:unless="${sessionUserId == null}">
            <!--            <button class="w-100 btn btn-dark btn-lg"-->
            <!--                    onclick="location.href='items.html'"-->
            <button type="button" th:onclick="|location.href='@{/post}'|">
                글쓰기
            </button>
        </div>
    </div>
</div> <!-- /container -->
</body>
</html>